@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@tailwind components;
@tailwind utilities;
@tailwind base;

@layer utilities {
  .clip-bg-path {
    clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
  }
}

body {
  font-family: 'Nunito', sans-serif;
  background-image: url('@/assets/PokedexBackground.png');
  background-color: #f5f5f5;
}
